# Compiled object files
*.o
*.obj
*.lo
*.slo
*.d

# Precompiled headers
*.gch
*.pch

# Linker & debugger
*.ilk
*.pdb
*.dwo

# Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Static libraries
*.a
*.lib
*.la
*.lai

# Executables
*.exe
*.out
*.app

# Build directories
build/
Build/
build-*/

# CMake (на случай запуска не в build/)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDE
.vscode/
.idea/
.vs/
.cmake/
out/
.clangd/

# vcpkg
vcpkg_installed/

# Database
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite3

# Temporary & logs
*.tmp
*.log
*.bak
*.swp
*.dwo
.cache/
Testing/

# OS
.DS_Store
Thumbs.db
desktop.ini
cmake-build-*/
*.dSYM/
main